{
  "presets": ["next/babel"],
  "env": { "test": { "presets": ["env", "next/babel"] } },
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "lang/.messages/"
      }
    ]
  ]
}
