#Name this file .env to make it an env config file
#Also, if you add new properties (or remove them), you need to map them in env.config.js

BACKEND_PORT=3001
PORT=3000

NODE_ENV=development

#Google Analytics
GA_ID=UA-119719705-1

#ENDPOINT_URL=https://rinkeby.api.bitbrackets.io/api
ENDPOINT_URL=http://localhost:3001

#Configutation for Web3
WEB3_NETWORKS=ropsten,kovan,rinkeby
WEB3_INTERVAL=10000
WEB3_FACTORY_ADDRESS=0x2230747607ae54002a0a33da54511d54014c317e
WEB3_INFURA_URL=https://rinkeby.infura.io/x8dGVFhCSTJoQ7WJ4OIP
WEB3_CONTEST_NAME=Russia2018Test
#context/nombredelcontrato